body{
    background-color:beige;
}

.heading{
    width:80%;
    font-size:23px;
}

.name_of_objects{
    color:cadetblue;
}

#camera{
    border:2px dashed black;
    width: 360px;
    height: 300px;
}

#result_object_name{
    color:yellow;
}